.header {
  color: black;
  padding: 24px 0;
  letter-spacing: 1px;
}
.whiteColor {
  color: white;
}


  .sizeXL {
    font-size: 64px;
  }
  .sizeL {
    font-size: 48px;
  }
  .sizeM {
    font-size: 38px;
  }
  .sizeS {
    font-size: 32px;
  }
  .sizeXS {
    font-size: 26px;
  }
