.cover {
  width: 100%;
  //height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

  background-color: #000;


  .wrap {
    position: relative;
    z-index: 1;
  }

}

