footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #393737;
  color:white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;

  svg {
    height: 50px;
  }
}
